/* _content/Wilproject/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar[b-crt9w2q9cz] {
    background-color: #6c63ff; /* This is the purple color */
    padding: 10px; /* Add some padding */
}

    .navbar a[b-crt9w2q9cz] {
        color: white; /* Change text color to white */
        margin: 0 15px; /* Add margin for spacing */
        text-decoration: none; /* Remove underline */
    }

        .navbar a:hover[b-crt9w2q9cz] {
            text-decoration: underline; /* Underline on hover for better UX */
        }


.border-top[b-crt9w2q9cz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-crt9w2q9cz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-crt9w2q9cz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-crt9w2q9cz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-crt9w2q9cz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
